extends base

block content

    main.main
        h2.secondary-header Create a new user
        form.signup-form
            .form__group
                label.form__label(for='signup-name') Your name
                input#signup-name.form__input(type='text', placeholder='John Doe', required)
            .form__group
                label.form__label(for='signup-email') Email address
                input#signup-email.form__input(type='email', placeholder='you@example.com', required)
            .form__group
                label.form__label(for='signup-password') Password
                input#signup-password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
                label.form__label(for='password-confirm') Confirm Password
                input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
                button.btn.btn--blue Sign Up